#login-form {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 1.5rem;
}

pre {
	font-family: var(--vscode-editor-font-family);
	margin: 6px;
}

code {
	font-family: var(--vscode-editor-font-family);
}

.problem-description pre {
	border: 1px solid #333;
	border-radius: 9px;
	margin: 12px;
	padding: 12px;
}

.center-loading {
	width: 50%;
}

.loading-box {
	position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%);
}

.loading-box-center {
	width: auto;
}

.problem-body {
	display: grid;
}

.samples-body {
	width: 100%;
}

.samples-row {
	margin-bottom: 10px;
}

.samples-cell {
	border: 1px solid #333;
	border-radius: 9px;
	margin: 4px;
}

.samples-cell.head {
	margin-right: 10px;
}

.submission-passed {
	background-image: linear-gradient(to left, #28ec28, #51f2c5);
}

.submission-not-passed {
	background-image: linear-gradient(to left, #d9534f, #ff5aed);
}

.submission-lite {
	/* direct copy from bootstrap lmao */
	display: inline;
	padding: 3px 15px 3px;
	font-weight: 700;
	line-height: 1;
	color: #000 !important;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 5px;
}