#login-form {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 1.5rem;
}

pre {
	font-family: var(--vscode-editor-font-family);
	margin: 6px;
}

code {
	font-family: var(--vscode-editor-font-family);
}

.problem-description pre {
	border: 1px solid #333;
	border-radius: 9px;
	margin: 12px;
	padding: 12px;
}

.center-loading {
	width: 50%;
}

.loading-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	transform: translate(-50%);
}

.loading-box-center {
	width: auto;
}

.problem-body {
	display: grid;
}

.samples-body {
	width: 100%;
}

.samples-row {
	margin-bottom: 10px;
}

.samples-cell {
	border: 1px solid #555;
	border-radius: 9px;
	margin: 4px;
	user-select: all;
}

.samples-cell.head {
	margin-right: 10px;
}

.submission-lite {
	display: inline;
	padding: 3px 15px 3px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 5px;
}

.submission-quality-100 {
	background-color: #28ec8a;
}

.submission-quality-under-100 {
	background-color: #ffdf50;
}

.submission-passed {
	background-color: #28ec8a;
}

.submission-not-passed {
	background-color: #fc537d;
}

.submission-error {
	background-image: linear-gradient(to left, #fc537d, #fffc5a);
}

.submission-timeout {
	background-image: linear-gradient(to left, #fc537d, #696969);
}

.submission-time {
	background-color: #202020;
	color: gainsboro;
}

.tested-item {
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	color: black;
	text-align: center;
	font-weight: 700;
}

/* #submission-badge-passed {
	background-color: #5cb85c;
	color: black;
}

#submission-badge-incorrect {
	background-color: #d9534f;
	color: black;
} */

.submission-item {
	border-radius: 9px;
	margin: 4px;
}

.submission-item-pending {
	border: 2px dashed #333;
}

.submission-item-passed {
	border: 2px solid #5cb85c;
}

.submission-item-incorrect {
	border: 2px solid #d9534f;
}

.submission-summary-highlight {
	padding: 3px 15px 3px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	border-radius: 5px;
}

.stalker-profile-pic {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin: 4px;
}